* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

canvas {
    /* image-rendering: pixelated; */
    width: 100vmax;
    height: calc(100vmax / 3 * 2);
}